<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>register AnyWhere(Admin)</title>
  <link rel="icon" href={% static 'img/logo-icon.png' %} type="image" sizes="25x16">
  <meta name="description" content="Future Coders">
  <meta name="keywords" content="Future coders, Klab">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
  <link rel="stylesheet" type="text/css" href={% static 'css/font-awesome.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/bootstrap.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/imagehover.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/main.css' %}>
  <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
</head>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <body>





    <footer id="footer" class="footer">
    <div class="container text-center">
      <!-- End newsletter-form -->
      <ul class="social-links">
        <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
      </ul>
      ©2018 Register Anywhere. All rights reserved
    </div>
  </footer>
  <!--/ Footer-->

  <script src={% static 'js/jquery.min.js' %}></script>
  <script src={% static 'js/jquery.easing.min.js' %}></script>
  <script src={% static 'js/bootstrap.min.js' %}></script>
  <script src={% static 'js/custom.js' %}></script>
  <script src={% static 'js/contactform.js' %}></script>
  <script src={% static 'js/main.js' %}></script>
  <script src={% static 'js/p5.js' %}></script>
  </body>
  </html>
  <script type="text/javascript">
function setup() {
  createCanvas(400, 400);
}
function draw() {
  background(0);
  rect(20, 20, 40, 40);
  fill(255);
}
</script>