<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>register AnyWhere</title>
  <link rel="icon" href={% static 'img/logo-icon.png' %} type="image" sizes="25x16">
  <meta name="description" content="Future Coders">
  <meta name="keywords" content="Future coders, Klab">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
  <link rel="stylesheet" type="text/css" href={% static 'css/font-awesome.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/bootstrap.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/imagehover.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/main.css' %}>
  <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
</head>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body>
    <!-- Loading spinner -->
<!--- /Loading spinner -->
<body>
<div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>
<div id="wrapper" class="wrapper-hide">
  <!-- success pop up -->
  {% if submission %}
     <script type="text/javascript">
       $(document).ready(function(){
          alert("Thanks we will get back to you soon!!");
       });
     </script>
  {% endif %}
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
         <a class="navbar-brand" href="/">Register<span>Anywhere</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="btn-trial"><a href="/login">Edit your registration</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->
<section id="signup-section">
  <div class="container">
    <div class="box apply-form">
         <div class="stepwizard">
           <div class="stepwizard-row setup-panel">
              <div class="stepwizard-step">
                 <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                 <p>Personal Identification</p>
             </div>
             <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p>Requirements Checking</p>
             </div>
             <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p>Confirmation phase</p>
             </div>
         </div>
       </div>
       <form class="apply-form-fields" role="form" method="post" action="/register">
         {% csrf_token %}
         <div class="row setup-content" id="step-1">
             <div class="col-xs-12">
               <div class="col-md-12">
                 <h3 class="step-header"> Step 1</h3>
                 <div class="form-group">
                    <label class="control-label">Full Names</label>
                    <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Your answer..." name="names"  />
                 </div>

                 <div class="form-check">
   <label class="form-check-label" for="radio1"> Gender <br>
     <input type="radio" class="form-check-input" id="radio1" name="optradio" value="M" checked> Male
   </label>
 </div>
 <div class="form-check">
   <label class="form-check-label" for="radio2">
     <input type="radio" class="form-check-input" id="radio2" name="optradio" value="F"> Female <br>
   </label>
 </div>

                 <div class="form-group">
                    <label class="control-label">Address/Your location</label>
                    <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Your answer..." name="location"  />
                 </div>

                 <div class="form-group">
                    <label class="control-label">Your Email</label>
                    <input maxlength="100" type="email" required="required" class="form-control" placeholder="Your answer..." name="email" />
                 </div>
                <div class="form-group">
                    <label class="control-label">Contact/Phone number</label>
                    <input  maxlength="10" type="number"class="form-control" placeholder="Your answer..." name="contact"  />
                 </div>
                 <button class="btn btn-success nextBtn btn-lg pull-right" type="button" >Next</button>
               </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2">
          <div class="col-xs-12">
            <div class="col-md-12">
                <h3 class="step-header"> Step 2</h3>



<div>
            <div class="form-check"><label>Do You have your own computer?</label><br>
                  <label><input type="checkbox" id="myCheck" onclick="myFunction()">Yes</label>
                  <label><input type="checkbox" id="myCheckNo" onclick="myFunctionNo()">No</label>
              <p id="text" style="display: none;">
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-warning btn-block btn-lg" data-toggle="modal" data-target="#myModal">Click here to add your Computer serial number</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Give Computer Serial Number</h4>
      </div>

        <div class="modal-body">
          <form method="post">
          
            <div class="form-group">
                <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                <input maxlength="16" type="number" class="form-control" placeholder="Bring Your computer Serial Number" />
                </div>                     
            </div>
                        
            <button type="submit" class="btn btn-success btn-block btn-lg">
              <span class="glyphicon glyphicon-send"></span> SUBMIT
            </button>
          </form>
        </div>

      <div class="modal-footer">
        <center><p>Make sure you enter right serial number!</p></center>
      </div>
    </div>

  </div>
</div>
<!--End of Modal -->
              </p>


              <p id="textNo" style="display: none;">
              <label class="control-label">Show you are going to get your computer</label>
              <textarea class="form-control" rows="5" placeholder="Your answer..." name="description"></textarea>
              </p>

          </div>
            <p id="reason">

            </p>

</div>



                <div class="form-group">
                    <label class="control-label">National ID</label>
                    <input maxlength="16" type="number" required="required" class="form-control" placeholder="Your answer..." name="National-id" />
                </div>
                <button class="btn btn-success nextBtn btn-lg pull-right" type="button" >Next</button>
            </div>
          </div>
       </div>
       <div class="row setup-content" id="step-3">
         <div class="col-xs-12">
            <div class="col-md-12">
                <h3 class="step-header"> Step 3</h3>
                <div class="form-group">
                    <label class="control-label">Student Registration number</label>
                    <input maxlength="9" type="number" required="required" class="form-control" placeholder="Your answer..." name="RegNo"/>
                </div>
                <div class="form-group">
                    <label class="control-label">User password</label>
                    <input maxlength="20" type="text" required="required" class="form-control" placeholder="Your answer..." name="password"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm password</label>
                    <input maxlength="20" type="text" required="required" class="form-control" placeholder="Your answer..." name="password"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Comment/More Info</label>
                    <textarea class="form-control" rows="5" placeholder="Your answer..." name="description"></textarea>
                </div>
                <button class="btn btn-success btn-lg pull-right" type="submit">Finish!</button>
            </div>
         </div>
       </div>
    </form>

  </div>
 </div>
</section>
  <footer id="footer" class="footer">
    <div class="container text-center">
      <!-- End newsletter-form -->
      <ul class="social-links">
        <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
      </ul>
      ©2018 Register Anywhere. All rights reserved
    </div>
  </footer>
  <!--/ Footer-->

  <script src={% static 'js/jquery.min.js' %}></script>
  <script src={% static 'js/jquery.easing.min.js' %}></script>
  <script src={% static 'js/bootstrap.min.js' %}></script>
  <script src={% static 'js/custom.js' %}></script>
  <script src={% static 'js/contactform.js' %}></script>
  <script src={% static 'js/main.js' %}></script>

  <script>

  function myFunction(){
    //Get checkbox
    var checkbox = document.getElementById("myCheck");
    //get the output text
    var text = document.getElementById("text");

    // if checkbox is checked, disply output text

    if(checkbox.checked != true){
      text.style.display = "none";
    }else{
      text.style.display = "block";
    }
  }
  function myFunctionNo(){
    //Get checkbox
    var checkbox = document.getElementById("myCheckNo");
    //get the output text
    var text = document.getElementById("textNo");

    // if checkbox is checked, disply output text

    if(checkbox.checked != true){
      text.style.display = "none";
    }else{
      text.style.display = "block";
    }
  }
</script>
</body>
</html>
