<!DOCTYPE html>
<htm lang="en">
<head>
	  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registration Help Service Page</title>
	<link rel="icon" href={% static 'img/logo-icon.png' %} type="image" sizes="25x16">
  <meta name="description" content="Future Coders">
  <meta name="keywords" content="Future coders, Klab">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
  <link rel="stylesheet" type="text/css" href={% static 'css/font-awesome.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/bootstrap.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/imagehover.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/main.css' %}>
  <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
</head>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body>

</body>
</html>