<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>register AnyWhere</title>
  <link rel="icon" href={% static 'img/logo-icon.png' %} type="image" sizes="25x16">
  <meta name="description" content="Future Coders">
  <meta name="keywords" content="Future coders, Klab">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
  <link rel="stylesheet" type="text/css" href={% static 'css/font-awesome.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/bootstrap.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/imagehover.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/main.css' %}>
  <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
</head>

  <body>
    <!-- Loading spinner -->
<!--- /Loading spinner -->
<body>
<div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>
<div id="wrapper" class="wrapper-hide">
  <!-- success pop up -->
  {% if submission %}
     <script type="text/javascript">
       $(document).ready(function(){
          alert("Thanks we will get back to you soon!!");
       });
     </script>
  {% endif %}
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
         <a class="navbar-brand" href="/">Register<span>Anywhere</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li class="btn-trial"><a href="/apply">Make Registration Appointment</a></li>

        </ul>
      </div>
    </div>
  </nav>


  <!--/ Navigation bar-->
  <!--Banner-->
  <div class="banner">
    <div class="bg-color">
      <div class="container">
        <div class="row">
          <div class="banner-text text-center">
            <div class="text-border">
              <h2 class="text-dec">Register Anywhere</h2>
            </div>
            <div class="intro-para text-center quote">
              <p class="big-text">Register for your campus Today . . . Just come Tomorrow to learn.</p>
              <p class="small-text">Register without wasting time and ticket money<br>Click <a href="#about">About Us</a> to see what we are here to help you or Click <a href="#contact">Contact Us</a> for you to generate your advice.</p>
                <a href="/apply" class="btn get-quote">Start Now</a>
            </div>
          <!--  <a href="#feature" class="mouse-hover">
              <div class="mouse"></div>
            </a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Banner-->

  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>About Us</h2>
          <p>RegisterAnywhere is an idea of AUCA Student.<br> According to recent studies(Research), All university student face problem of distance in registration of academic year(to register lesson) while they are fall from their campuses.
  <hr class="bottom-line">
  The program aims to:<br>
  - Help student in their registration is our big aim.<br>
  - Generate registration proof either hard doc or emailed doc at time.
  <hr class="bottom-line">
  In this year’s edition, we will give to some student that services for free by testing if this opportunity will last...<br> RegisterAnywhere will soon provide payment mode to those who like to trust us<br>
  Field to filled is ready to those who want to give some advices <a href="#contact"> click here!</a>.

  </p>
        </div>


      </div>
    </div>
  </section>


<!--
<section>
  Check box: <input type="checkbox" id="myCheck" onclick="myFunction()">
  <p id="p">
    welldone
  </p>
<script>
  function myFunction(){
    $(document).ready(function(){
      $('#myCheck').click(function(){
        if($(this).is(':checked')){
          $("p").show();
        }else{
          $("p").hide();
        }
      });
    });
  }
</script>
</section>
-->


<!--Contact-->
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Contact Us</h2>
          <p>Reach out to us and we'll respond as soon as we can.</p>
          <hr class="bottom-line">
        </div>
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form action="" method="" role="form" class="contactForm" id="contactusform" name="ContactForm" novalidate>
          <div class="col-md-6 col-sm-6 col-xs-12 left">
            <div class="form-group">
              <input type="text" name="name" class="form-control form" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12 right">
            <div class="form-group">
              <textarea class="form-control" id="message" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
          </div>

          <div class="col-xs-12">
            <!-- Button -->
            <button type="submit" id="submit" name="submit" class="form contact-form-button light-form-button oswald light contact-send">SEND</button>
          </div>
        </form>
     <!--<button class="showmodal">Show modal</button>-->
      </div>
    </div>
    
  </section>
  <!--/ Contact-->
  <!--Footer-->
  <footer id="footer" class="footer">
    <div class="container text-center">
      <!-- End newsletter-form -->
      <ul class="social-links">
        <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
      </ul>
      ©2018 Register Anywhere. All rights reserved
    </div>
  </footer>
  <!--/ Footer-->

  <script src={% static 'js/jquery.min.js' %}></script>
  <script src={% static 'js/jquery.easing.min.js' %}></script>
  <script src={% static 'js/bootstrap.min.js' %}></script>
  <script src={% static 'js/custom.js' %}></script>
  <script src={% static 'js/contactform.js' %}></script>
  <script src={% static 'js/main.js' %}></script>
  </body>
</html>