<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>register AnyWhere(SignUp and Login)</title>
  <link rel="icon" href={% static 'img/logo-icon.png' %} type="image" sizes="25x16">
  <meta name="description" content="Future Coders">
  <meta name="keywords" content="Future coders, Klab">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
  <link rel="stylesheet" type="text/css" href={% static 'css/font-awesome.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/bootstrap.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/imagehover.min.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/main.css' %}>
  <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
</head>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body>
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
         <a class="navbar-brand" href="/">Register<span>Anywhere</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="btn-trial"><a href="/apply">Make Registration Appointment</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->

<section id="signup-section" style="background-color: gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
    <div class="box">

        <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="text-center">Login</h4>
           </div>
           <div class="panel-body">
             <form action="/signin" method="POST">
               {% csrf_token %}
               <div class="form-group">
                 <label for="username">Username:</label>
                 <input type="username" class="form-control" id="username" placeholder="Enter email" name="username">
               </div>
               <div class="form-group">
                 <label for="password">Password:</label>
                 <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
              </div>
             <div class="form-group form-check">
               <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
               </label>
             </div>
             <button type="submit" class="btn btn-success login-button">Submit</button>
             <p class="text-center" style="color:red;margin-top:12px">{{errorMessage}}</p><br><br>
             <center><a href="forgetpassword">Forget Password?</a>  | |  <a href="/signup">New account!</a></center>
             <p class="text-center" style="color:red;margin-top:12px">{{errorMessage}}</p>
            </form>
           </div>
       </div>

    </div>
  </div>
  <div class="col-sm-6">
      <div class="box">
       <div class="panel panel-default"  style="padding-top: 55px;">
           <div class="panel-heading">
        <h1>We work as you Command<br>
            You deserve it</h1>
          <p> Pellentesque eget dolor gravida, tempus purus ac, ultricies mauris. Etiam est nisl, molestie sed egestas bibendum, varius eu diam. Suspendisse est metus, ultrices sit amet dolor in, rhoncus malesuada mi.</p>
          <ul>
            <li>Registration.</li>
            <li>Click Make Registration appointment, If you have already done it</li>
            <li>Login Form generated to help users to access their data after registration appointment.</li>
            <li>If you forget our password you can click Forget password or click New Account. </li>
          </ul>
        </div>
  </div>
</div>
</div>
</div>
  </div>
</section>


    <footer id="footer" class="footer">
    <div class="container text-center">
      <!-- End newsletter-form -->
      <ul class="social-links">
        <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
      </ul>
      ©2018 Register Anywhere. All rights reserved
    </div>
  </footer>
  <!--/ Footer-->

  <script src={% static 'js/jquery.min.js' %}></script>
  <script src={% static 'js/jquery.easing.min.js' %}></script>
  <script src={% static 'js/bootstrap.min.js' %}></script>
  <script src={% static 'js/custom.js' %}></script>
  <script src={% static 'js/contactform.js' %}></script>
  <script src={% static 'js/main.js' %}></script>
  </body>
  </html>